.column {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
}

.column > div {
    width: 30%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}
